
.drop-down{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;   
    text-align: center;
}
.teste-envelope{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items:center;
    width: 100%;
    height: fit-content;
    
    text-align: center;
}
.drop-down-options{
    content: '';
    width: 98%;
    height: 100%;
    content: '';
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    border:1px solid #86fde8;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px;
}
#exercicios-botoes{
    display: flex;
}
.option-drop-down{
    border:1px solid #86fde8;
    padding: 1px 0px;
    border-width: 0px 0px 1px 0px;
    width: 32%;
    font-size: 12px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateX(-520%);
    color: rgb(255, 255, 255);  /* fallback for old browsers */
    animation: '';
    transition: 100ms ;
}
.option-drop-down:hover{
    border-bottom-width: 3px;
    height: 23px;
    font-size: 13px;
    color:#86fde8;
}
@keyframes move-drop-down{
    to{
        transform:translateX(0px) ;
        opacity: 1;
    }
}
